body{
    background-color: rgb(228, 210, 210);
}
.fa{
    color: rgb(127, 127, 236);
}
.box-part{
    background-color: white;
    padding: 50px 0px;
}
p{
    font-size: 14px;
    margin: 15px 5px;
}
.box{
    padding: 60px 15px;
}
.row{
    margin: 30px;
}